body {
    background-color: whitesmoke;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.speedBox {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: white;
}

.speedBox2 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: red;
}
